<!DOCTYPE html>
<html>
	<head>
	    <meta charset="utf-8" />
		<title> </title>
	</head>
	<body>
	<h1>  {{  titl| reverse }}
	</h1>

	<p>
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi natus cumque, maxime, dolorum asperiores quae labore facilis alias quod quidem eveniet saepe magnam neque totam dolorem error amet necessitatibus illum.

	</p>

   <p>
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi natus cumque, maxime, dolorum asperiores quae labore facilis alias quod quidem eveniet saepe magnam neque totam dolorem error amet necessitatibus illum.

	</p>

	<br>
	<h1> {{ titre_result|upper }}</h1>

	<p>
		le  resultat donne : {{ total}}
	</p>



		
	</body>
</html>

