<!DOCTYPE html>
<html>
	<head>
	    <meta charset="utf-8" />
		<title> </title>
	</head>
	<body>
	
	

	

  
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque autem quaerat adipisci, a exercitationem sequi totam. Error, ab aspernatur sequi quam a fugiat. Maiores velit, provident dolor a praesentium delectus.</p>
	

	<br>
	
		le  resultat donne : {{ totalz}}
	</p>



		
	</body>
</html>

